.page{
    position: absolute;
    background-repeat: none;
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
}
.hAlignPane{
    display: table-cell;
    vertical-align: middle;
    height: 50%;
    margin: 0 auto;
}
.vAlignPane{
    display: table;
    height: 100%;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}
.innerPane{
    margin: auto;
    width: 300px;
    color:black;
    padding: 5px;
    border-radius: 20px;
    background: rgba(255,255,255, 0.85);
}
.button{
    background-color: transparent;
    border-radius: 5px;
    color: #085978;
    margin-bottom: 10px;
    cursor: pointer;
    border: 2px solid #085978;
    height: 50px;
    font-weight: bold;
    background: rgba(255,255,255, 0.85);
}